version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: ibuc-redis
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: ibuc-api
    restart: always
    ports:
      - '3000:3000'
    depends_on:
      - redis
    env_file:
      - ./backend/.env
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    volumes:
      - ./backend/storage:/app/storage

volumes:
  redis_data:
